/* its an inline element which only cover span word coloring */
span{
    background-color: aquamarine;
}

/* its an block element which cover full length for coloring */
h1{
    background-color: blueviolet;
    height: 10px;
    width: 40px;                                                        
    
}